<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
        <a href="/dashboard" class="brand-logo center">
            <i class="fas fa-newspaper" style="margin-right: 5px;"></i> D-News
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/auth/logout">Logout {{name}}</a></li>
        </ul>
    </div>
</nav>

<!-- Sidenav Structure -->
<ul class="sidenav" id="mobile-demo">
    <li>
        <div class="user-view">
            <div class="background grey darken-3"></div>
            <span class="white-text name">{{name}}</span>
        </div>
    </li>
    <li><a href="/dashboard"><i class="fas fa-home"></i> Dashboard</a></li>
    <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
</ul>
