<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
        <a href="/dashboard" class="brand-logo center-on-med-and-down">
            <i class="fas fa-newspaper"></i> D-News
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/auth/logout">Logout {{name}}</a></li>
        </ul>
    </div>
</nav>

<!-- Mobile Sidenav -->
<ul class="sidenav" id="mobile-nav">
    <li>
        <div class="user-view">
            <div class="background grey darken-3"></div>
            <a href="/dashboard"><span class="white-text name">{{name}}</span></a>
        </div>
    </li>
    <li><a href="/dashboard"><i class="fas fa-home"></i>Home</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
</ul>
