<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <div class="row">
            <div class="col s6">
                <a href="/auth/logout">Logout {{name}}</a>
            </div>
            <div class="col s6 center-align">
                <a href="#!" class="brand-logo">D-News</a>
            </div>
        </div>
    </div>
</nav>
