<h3><i class="fas fa-book-reader"></i> D-News</h3>
<div class="section">
    <p class="lead">It is a reminder that we are a small part of something much greater than ourselves.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1 ">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>

<style>
    /* Add this CSS for responsiveness */
.btn {
    cursor: pointer;
    overflow: hidden;
}

</style>